/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 20, 2015, 5:01:18 PM
    Author     : melkhatib
*/

.tutorial-step {
 display:block;
 width:50px;
 height:50px;
 text-align:center;
 background:#efefef;
 border-radius:50px;
 line-height:50px;
 font-size:2.5em;
 position:absolute;
 left:-100px;
 margin-top:10px;
 @media #{medium-only} { 
 position:relative;
 left:0px;
 }
 
 
}

.tutorial-description {
    
    
}

.tutorial-img{
    
    
}